* {
    box-sizing: border-box;
}

img {
    display: block;
}

body{
    background-color: #f9fbfc;
    font-size: 62,5% * 16px;
    font-family: 'Fira Mono', monospace;;
}

main{
    align-items: center;
    display: flex;
    flex-direction: column;
}


/* header*/

header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3% 7%;
}

.contact {
    color: black;
    border: 3px solid #e1755e;
    border-radius: 0% 40%;
    font-size: 1.4rem;
    padding: 5px;
    text-decoration: none;
    height: 10%;
    width: 400px;
    text-align: center;
}

.contact:hover {
    background-color: #e1755e;
    color: #f9fbfc;
}

.logo {
    width: 15%;
}

/* introduction division*/
.introduction {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 3% 7%;
    text-align: center;
}

.introduction__subtitle {
    font-family: inherit;
    font-weight: 300;
}

.seb_picture {
    border-radius: 50%;
    width: 15%;

}

/* skills divisions */

.skills {
    align-items: center;
    background-color: #203961 ;
    color: #f9fbfc;
    display: flex;
    flex-direction: column;
    height: 500px;
    text-align: center;
    padding: 5%;
}

.skills__detail {
    background-color: #f9fbfc;
    border: 2px solid rgba(32, 57, 97, 0.5);
    border-radius: 15px;
    color: black;
    display: flex;
    justify-content: center;
    margin: 2% 5%;
    max-height: 750px;
    position: relative;
    top: -150px;
    width: 80%;
}

.skills__title {
    padding: 4% 0%;
}

.skills__colomn{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 3%;
    text-align: center;
    width: 33%;
}

.skills__colomn ul {
    padding-inline: 0px;
}

.skills__icone {
    background-color: #e1755e;
    border: 10px solid #e1755e;
    border-radius: 22%;
    height: 10%;
    text-align: center;
    width: 20%%;
}

.skills__intro {
    text-align: center;
}

.back {
    border-left: 1px solid #203961;
    border-right: 1px solid #203961;
}

li {
    list-style-type: none;
    padding: 0.5rem;
    text-align: center;
}

h4 {
    color: #e1755e;
}

/* projects divisions */

.myProject {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0% 3% 0% 3%;
    position: relative;
    text-align: center;
    top: -100px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3%;
}

.style {
    
}

.paysage { 
}

.style__hidden {
    align-items: center;
    background-color: #203961;
    color: #f9fbfc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    padding: 3%;
    position: relative;
    text-align: center;
    top: -203px;
    visibility:hidden;
    width: 300px;
}

.style__hidden2 {
    align-items: center;
    background-color: #203961;
    color: #f9fbfc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    padding: 3%;
    position: relative;
    text-align: center;
    top: -203px;
    visibility:hidden;
    width: 300px;
}

.link__website {
    color:#f9fbfc;
    border: 3px solid #e1755e;
    border-radius: 30px;
    font-size: 1.4rem;
    padding: 5px;
    text-decoration: none;
}

.link__website:hover {
    background-color: #e1755e;
    color: #f9fbfc;
}

.paragraph__website {
    font-size: 0.8rem;
}

.style__img {
    height: 200px;
    width: 300px;
}

.fade-in-out {
    transition: visibility 0.6s, opacity 0.6s;
    opacity: 0;
    visibility: hidden;
  }

.fade-in-out2 {
    transition: visibility 0.6s, opacity 0.6s;
    opacity: 0;
    visibility: hidden;
  }

/* School project div */

.school__projects {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0% 7%;
    position: relative;
    top: -200px;
    text-align: center;
}


/* Carousel */

.carousel-container {
    width: 60%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 3% 7%;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    flex: 0 0 100%; /* Ajustez la largeur des éléments selon vos besoins */
    margin-right: 10px; /* Espacement entre les éléments */
    padding: 10px; /* Espacement interne des éléments */
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .carousel img {
    width: 100%;
    height: auto;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .prev-button {
    left: 0;
  }
  
  .next-button {
    right: 0;
  }

  /* Hobbies */

.hobbies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0% 7%;
}
 
.Experience {
    background-color: #f9fbfc;
    border: 2px solid rgba(32, 57, 97, 0.5);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 1rem;
    position: relative;
    margin: 2rem;
    top: -100px;
    width: 25%;
}

.Experience img {
    width: 100%;
    height: auto;
}

/*contact section*/

.contact__section {
    background-color: #f9fbfc;
    border: 2px solid rgba(32, 57, 97, 0.5);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 1rem;
    position: relative;
    margin: 2rem;
    top: 80px;
    width: 70%;
}

.contact2 {
    color: black;
    border: 3px solid #e1755e;
    border-radius: 30px;
    font-size: 1.4rem;
    padding: 5px;
    text-decoration: none;
}

.contact2:hover {
    background-color: #e1755e;
    color: #f9fbfc;
}


/*footer*/

.footer {
    align-items: center;
    background-color: #203961;
    color: #f9fbfc;
    display: flex;
    flex-direction: column;
}



footer a img{
    margin-top: 100px;
    width: 10%;
}

footer a {
    display: flex;
    justify-content: center;
}

.website {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.website a img {
    width: 50px;
    height: 50px;
    margin: 1rem;
}

/* Contact page */

/* Header */

.topline {
    border-bottom: 1px solid #203961;
    padding: 6vh;
}

.contact__image {
    width: 120px;
    margin: -92px auto 50px;
}

.submit__button {
    background-color: transparent;
    border-color: #e1755e;
    color: #e1755e;
    margin: 20px 0 80px;
    border-width: 2px;
    font-weight: 400;
    height: auto;
    border-radius: 9999px;
    padding-left: calc(1em + 0.25em);
    padding-right: calc(1em + 0.25em);
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.25rem;
}

.submit__button:hover {
    background-color: #e1755e;
    border-color: #e1755e;
    color: #f9fbfc;
}

.logo__contact {
    width: 20%;
}

.img_footer {
    margin-top: 0;
}

/* Form */
form {
    width: 50%;
}

input {
    width: 100%;
    height: 2rem;
}

.form__input {
    margin: 2rem;
}

.form__title {
    text-align: center;
}

/* Responsive changes */

@media (max-width: 900px) {
    .Experience {
        width: 40%;
    }
    .seb_picture {
        width: 18%;
    }
    .logo {
        width: 25%;
    }
    .logo__contact {
        width: 30%;
    }
    .contact__image {
        margin: -96px auto 50px;
    }
}

@media (max-width: 600px) {
    .skills__detail {
        width: 90%;
        margin: 2% auto;
    }
    .carousel-container {
        width: 85%;
    }
    .Experience {
        width: 80%;
    }
    .logo {
        width: 25%;
    }
    .seb_picture {
        width: 25%;
    }
    .logo__contact {
        width: 40%;
    }
}

@media (max-width: 500px) {
    .Experience {
        width: 80%;
    }
    .seb_picture {
        width: 25%;
    }
    .logo {
        width: 25%;
    }
    .contact__image {
        margin: -72px auto 50px;
    }
    .contact {
        font-size: 1rem;
    }
    .logo__contact {
        width: 50%;
    }
}

@media (max-width: 400px) {
    .skills__title {
        padding: 0 1rem;
    }
    .skills__icone {
        width: 11%;
        height: 7%;
    }
    .skills__intro {
        padding: 0 1rem;
    }
    .skills__detail {
        flex-direction: column;
        max-height: 1500px;
        top: -120px;
    }
    .skills__colomn {
        flex-direction: column;
        width: 100%;
    }
    .back {
        border-top: 1px solid #203961;
        border-bottom: 1px solid #203961;
    }
    .logo {
        width: 40%;
    }
    .contact__image {
        margin: -56px auto 50px;
    }
    .logo__contact {
        width: 60%;
    }
    
    
}