    </main>
    <footer>
        <div class="network">
        <a href="https://github.com/SebastienOsanno"><img class="network_logo" src="/images/github.png" alt="gitHub logo"></a>
        <a class="linkedin_logo" href="https://www.linkedin.com/in/sebastien-osanno/"><img class="network_logo" src="/images/linkedin.png" alt="linkedin logo"></a>
        <a href="#" download="cv_french.pdf"><img class="pdf_logo network_logo" src="images/cv_pdf.png" alt="Dowload resume"></a>
        </div>
        <div class="contact">
            <p class="update_date">@2023</p>
            <a class="contact_link" href="/contact">Contact</a>
        </div>
        <img class="logo_bottom" src="/images/logo_bas.png" alt="">
    </footer>
    <script src="/js/languages.js"></script>
</body>
</html>