<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio de Sébastien Osanno</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <div class="logo_page" >
            <img class="high_line logo" src="/images/logo_haut.png" alt="Line of the logo">
            <img class="d_logo logo" src="/images/Logo_text.png" alt="Website's logo">
        </div>
        <div class="languages">
            <img class="french_language" src="/images/French_icone.png" alt="French language">
            <ul class="language_hidden visible">    
                <li class="language"><a href="/homePage/en"><img src="/images/English_icone.png" alt="English language"></a></li>
                <li class="language"><a href="/homePage/sp"><img src="/images/Spanish_icone.png" alt="Spanish language"></a></li>
            </ul>
        </div>
    </header>
    <main>

    