<%- include ('partials/header') %>

<p class="biography">"Bienvenue sur mon portfolio ! Je suis Sébastien Osanno, 
    un passionné du développement web. Après des années 
    d'expérience en tant que Responsable Grand Compte, j'ai décidé 
    de suivre ma passion pour la programmation et de plonger dans 
    l'univers captivant du développement web. <br> Mon portfolio est le 
    reflet de mon parcours de transformation qui a commencé il y a 9 mois, où vous découvrirez 
    mes compétences en React, mes projets et mes réalisations. <br>
    Explorez mon travail et n'hésitez pas à me contacter pour discuter de vos
    projets et idées passionnants."
</p>

<ul class="nav">
    <li class="nav_item"><span class="puce1">&#9758;</span><a class="nav_link nav_link1" href="/fr/Mesprojets"> Mes projets professionnels</a></li>
    <li class="nav_item"><span class="puce2">&#9758;</span><a class="nav_link nav_link2" href="/fr/Mescompétences">  Mes différentes compétences</a></li>
    <li class="nav_item"><span class="puce3">&#9758;</span><a class="nav_link nav_link3" href="/fr/Mesexpériences">  Mes expériences annexes</a></li>
</ul>

<%- include ('partials/footer') %>